<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/erro.css">
    <title>Document</title>
</head>
<body>


    <div class="mensagem">
    <h1>Erro</h1>
    <h2>Essa pagina não existe</h2>
    </div>

</body>
</html>